<html>
  <head>
  </head>
  <body>
    <p>Hello, World!</p>
    <% for(var j = 0; j < 5; j++) { %>
      <p>I am alive</p>
    <% } %>
    <a href="http://192.168.1.144:8088/lib/template.html">Go to files</a>
  </body>
</html>
